* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  font-family: 'Recursive', sans-serif;
}

main {
  padding: 10px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: minmax(320px, 60vw);
  justify-content: center;
}